<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneblocks.repository.CampaignRepository">

	<select id="getCampaignByCampaignId" parameterType="com.oneblocks.parameter.CampaignListSearchParam" resultType="com.oneblocks.domain.Campaign"> 
		SELECT 
			C.CAMPAIGN_ID				AS campaignId
			, (SELECT MEMBER_CAMPAIGN_NAME FROM MEMBER_CAMPAIGN WHERE CAMPAIGN_ID=C.CAMPAIGN_ID AND MEMBER_ID=#{memberId}) 		AS campaignName
			, C.CAMPAIGN_URL			AS campaignUrl
			, C.OPTION_CNT 			AS optionCnt
			, C.SUPPLEMENT_CNT 		AS supplementCnt
			, C.REGISTRATION_DATE		AS registrationDate
 		FROM CAMPAIGN C
 		WHERE 1=1
			AND C.CAMPAIGN_ID = #{campaignId}
	</select>
	
	<select id="getCampaignInfo" parameterType="com.oneblocks.domain.Campaign" resultType="com.oneblocks.domain.Campaign">
		SELECT 
			CAMPAIGN_ID				AS campaignId
			, CAMPAIGN_NAME 		AS campaignName
			, CAMPAIGN_URL			AS campaignUrl
			, OPTION_CNT 			AS optionCnt
			, SUPPLEMENT_CNT 		AS supplementCnt
			, REGISTRATION_DATE		AS registrationDate
 		FROM CAMPAIGN 
 		WHERE 1=1
			AND CAMPAIGN_ID = #{campaignId}
	</select>
	
	<insert id="insertCampaignInfo" parameterType="com.oneblocks.domain.Campaign">
		INSERT INTO CAMPAIGN 
			(CAMPAIGN_ID, CAMPAIGN_NAME, CAMPAIGN_URL, OPTION_CNT, SUPPLEMENT_CNT, REGISTRATION_DATE) 
			VALUES 
			(#{campaignId}, #{campaignName}, #{campaignUrl}, #{optionCnt}, #{supplementCnt}, now())
	</insert>
	
	<select id="getCampaignUrlList" resultType="String">
		SELECT 	DISTINCT C.CAMPAIGN_URL 
		FROM 	CAMPAIGN C
		LEFT JOIN MEMBER_CAMPAIGN MC ON C.CAMPAIGN_ID = MC.CAMPAIGN_ID
		WHERE 	1 = 1
		AND 	MC.ON_OFF_YN='Y'
	</select>

</mapper>
