<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneblocks.repository.MemberProductRepository">

	<select id="getMyOnProductIfByCampaignId" parameterType="Map" resultType="String">
		SELECT PRODUCT_ID FROM MEMBER_PRODUCT WHERE CAMPAIGN_ID = #{campaignId} AND MEMBER_ID = #{memberId} AND ON_OFF_YN="Y"
	</select>
	

</mapper>
