<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneblocks.repository.MemberCampaignRepository">

	<select id="getList" parameterType="com.oneblocks.parameter.CampaignListSearchParam" resultType="com.oneblocks.vo.NSalesVO">
		SELECT  
			MC.CAMPAIGN_ID					as campaignId
			, MC.MEMBER_CAMPAIGN_NAME 		as memberCampaignName
			, MC.ON_OFF_YN					as onOffYn
			,(SELECT CAMPAIGN_PRICE FROM CAMPAIGN_SALES WHERE CAMPAIGN_ID=MC.CAMPAIGN_ID ORDER BY SALES_ID DESC LIMIT 1) 	as campaignPrice
			, CASE WHEN MC.ON_OFF_YN='Y' THEN DATE_FORMAT(ADDDATE(NOW(), -1),'%Y-%m-%d')
				ELSE DATE_FORMAT(UPDATE_DT,'%Y-%m-%d') END 					as updateDate
		FROM MEMBER_CAMPAIGN MC
		WHERE 1=1
			AND MC.MEMBER_ID = #{memberId}
		ORDER BY MC.MEMBER_CAMPAIGN_NAME
<!-- 		<if test="!searchParam.orderFlag.equals('') and searchParam.orderFlag!=null"> -->
<!-- 			<choose> -->
<!-- 				<when test="searchParam.orderFlag eq 'c'.toString()"> -->
<!-- 					MC.MEMBER_CAMPAIGN_NAME ${searchParam.orderKind} -->
<!-- 				</when> -->
<!-- 				<when test="searchParam.orderFlag eq 'o'.toString()"> -->
<!-- 					MC.ON_OFF_YN ${searchParam.orderKind}, MC.MEMBER_CAMPAIGN_NAME -->
<!-- 				</when> -->
<!-- 			</choose> -->
<!-- 		</if> -->
	</select>
	
	<select id="checkDuplicationCampaignName" parameterType="com.oneblocks.domain.MemberCampaign" resultType="String">
      SELECT 
			(
				CASE
					WHEN EXISTS (
						SELECT 
							1
						FROM MEMBER_CAMPAIGN MC
						WHERE MC.MEMBER_ID = #{memberId}
							AND MC.ON_OFF_YN='Y'
							AND MC.MEMBER_CAMPAIGN_NAME =#{memberCampaignName}
						)
					THEN 'Y'
					ELSE 'N'
				END
			) as EXISTS_YN
		FROM DUAL
   </select>
   
   <select id="checkDuplicationCampaign" parameterType="com.oneblocks.domain.MemberCampaign" resultType="String">
      SELECT 
			(
				CASE
					WHEN EXISTS (
						SELECT 
							1
						FROM MEMBER_CAMPAIGN MC
						WHERE MC.MEMBER_ID = #{memberId}
							AND MC.ON_OFF_YN='Y'
							AND MC.CAMPAIGN_ID =#{campaignId}
						)
					THEN 'Y'
					ELSE 'N'
				END
			) as EXISTS_YN
		FROM DUAL
   </select>
   
   <insert id="insertMemberCampaignInfo" parameterType="com.oneblocks.domain.MemberCampaign">
		INSERT INTO MEMBER_CAMPAIGN
			(MEMBER_CAMPAIGN_NAME, MEMBER_ID, CAMPAIGN_ID, ON_OFF_YN, REG_DT, UPDATE_DT)
		VALUES
    	(#{memberCampaignName},#{memberId}, #{campaignId}, #{onOffYn}, NOW(), NOW()) 	
	</insert>
	
	<update id="setOffMemberCampaign" parameterType="Map"> 
		UPDATE	MEMBER_CAMPAIGN 
		SET 	ON_OFF_YN ="N"
				, UPDATE_DT = NOW()
		WHERE 1=1
			AND MEMBER_ID=#{memberId}
			AND CAMPAIGN_iD IN
			<foreach collection="campaignIdList" item="campaignId" index="index" separator="," open="(" close=")">
            	#{campaignId}
        	</foreach>
	</update>

</mapper>
